@{
    ViewBag.Title = "О приложении";
}

<h3>@ViewBag.Title.</h3>

<p>Приложение предназначено для учета баллов для поступления</p>
<p>студентов в аспирантуру Технического университета.</p>
<p>Диапазон баллов - от 0 до 100 (баллы вводятся вручную).</p>
<p>В приложении реализованы следующие возможности:</p>
<p>- просмотр общей таблицы баллов, набранных студентами;</p>
<p>- добавление новых студентов в таблицу с сохранением в базе данных;</p>
<p>- просмотр трёх лучших и трёх худших студентов.</p>
<p>Трое лучших студентов поступают в аспирантуру автоматически,</p>
<p>трое худших - лишаются возможности поступления, все остальные - </p>
<p>отправляются на дополнительные экзамены. </p>